section{
    color:var(--foreground);
    padding-top: 5em;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:space-evenly;
}
article{
    color:var(--foreground);
    padding-top: 5em;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-content:space-evenly;
    max-width: 90vw;
}
.blog-card{
    background-color:var(--tint);
    color: var(--foreground);
    height:50vh;
    margin: 10px;
    padding:30px;
    border-radius: 20px;
}
@media screen and (max-width:800px){
    section{
        grid-template-columns: 1fr;
    }
}