:root {
    --background: rgba(0, 214, 170, .85);
    --text:#A17742;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
html{
    scroll-behavior: smooth;
}
body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}
a{
    text-decoration:none;
    color: var(--background)
}
a:hover{
    color: black;
    transition:color 1000ms;
}
/* home section begin  */

.home {
    height:100vh;
    padding-top: 250px;
    color: #fff;
    background-image: url("../images/marc-kleen-eRwmBvhfvG8-unsplash.jpg");
    background-position: top;
    
}
.home *{
    max-width: 40ch;
    margin-left: 1em;
    margin:auto;
}
/* home section end */

/* about section begin */
.about{
    padding-top:100px;
    display: grid;
    grid-template-columns: auto  auto;
    grid-template-rows:  auto auto;
    text-align: center;
    color:var(--text);
    height:100vh;
    background-image: url("../images/marc-kleen-eRwmBvhfvG8-unsplash.jpg");
    background-position: top right;
}

