:root {
    --color1: rgba(0, 214, 170, .9);
    --tint:rgb(128,235,213,0.5);
    --background:rgba(255, 255, 255);
    --foreground:rgba(0,0,0);
    --comp: #AA00D6;
    --image1:url("../images/background1.jpg");
    --image2:url("../images/background2.jpg");
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
html{
    scroll-behavior: smooth;
}
body {
	margin: 0;
	background: var(--background);
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}
a{
    text-decoration:none;
    color: var(--color1)
}
a:hover{
    color: var(--comp);
    transition:color 1000ms;
}
/* home section begin  */

.home {
    height:120vh;
    padding:200px;
    color:var(--foreground);
    background-color: var(--tint);
    background-image: var(--image1);
    background-size: cover;
    background-blend-mode: multiply;
    background-position: 0% 90%;
}
.home *{
    max-width: 40ch;
    margin-left: 1em;
    margin:auto;
}
/* home section end */

/* about section begin */
.about{
    height:120vh;
    padding-top: 250px;
    color:var(--foreground);
    background-color: var(--tint);
    background-image: var(--image2);
    background-size: cover;
    background-blend-mode: multiply;
    background-position: 0% 80%;
    display: grid;
    grid-template-columns: auto  auto;
    grid-template-rows:  auto auto;
    text-align: center;
}

@media screen and (max-width:800px){
    .about{
        display:block;
    }
    .home{
        padding-top: 250px;
    }
}


